<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nexless.ccommble" >

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 这个权限用于访问GPS android5.0-->
    <uses-feature android:name="android.hardware.location.gps"/>
    <!-- 这个权限用于定位 android6.0以上需要动态申请-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
